[Unit]
Description=kine
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=60
Type=simple
EnvironmentFile=/etc/sysconfig/kine
ExecStart=/usr/local/bin/kine
Restart=on-failure
RestartSec=15s
ReadWritePaths=/var/lib/kine
WorkingDirectory=/var/lib/kine


User=kine
Group=kine

NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
ProtectHostname=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_INET
RestrictSUIDSGID=yes
SystemCallFilter=~@privileged

[Install]
WantedBy=default.target
